@font-face {
    font-family: shubhamstretch;
    src: url(/fonts/THE\ SOLSTICE.ttf);
}
.homepage{
    height: 650px;
    width: 100%;
}
.galaxy{
    height:650px ;
    width: 100%;
    background-image: url(/images/galaxy4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:transparent;
    text-align:center;
    font-family: shubhamstretch;
    line-height: 0.2em;
    float: left;
    
}
.galaxy h2{
    padding-top: 80px;
    text-shadow: 5px 1px whitesmoke;
    font-size: 80px;
}
.galaxy h3{
    padding-top: 50px;
    text-shadow: 5px 1px whitesmoke;
    font-size: 80px;
}
.galaxy h1{
    padding-top: 2px;
    text-shadow: 5px 1px yellow;
    font-size: 100px;
    padding-top: 60px;
}
a{
    text-decoration: none;
    color:lavender;
}
h4{
    color: azure;
    padding-top: 50px;
}
h1:hover{
    color: black;
    text-shadow: 5px 1px azure;
    font-size: 110px;
}